.modal-box {
  width: 400px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-box h2 {
  margin-bottom: 16px;
}

.modal-box .textfield {
  margin-bottom: 10px;
}

.modal-box .form {
  width: 360px;
}

.add-expense-button {
  display: 'flex';
  justify-content: 'flex-end';
  margin-bottom: 16px;
  text-align: right;
}
